<!-- Дополнительные ссылки для SEO -->
<div class="footer-seo-links">
  <div class="footer-links">
    <a href="/documents/" title="Документы СНТ Орбита">Документы</a>
    <a href="/contacts/" title="Контакты СНТ Орбита">Контакты</a>
    <a href="/pravlenie/" title="Правление СНТ Орбита">Правление</a>
    <a href="/archives/" title="Архив новостей СНТ Орбита">Архив</a>
  </div>
  
  <!-- Микроразметка для футера -->
  <div class="footer-organization" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="Садоводческое некоммерческое товарищество Орбита">
    <meta itemprop="url" content="https://cnt-orbita.ru">
    <meta itemprop="description" content="Садовое некоммерческое товарищество Орбита в Ломоносовском районе Ленинградской области">
    
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      <meta itemprop="addressLocality" content="Ломоносовский район">
      <meta itemprop="addressRegion" content="Ленинградская область">
      <meta itemprop="addressCountry" content="RU">
    </div>
    
    <div itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
      <meta itemprop="contactType" content="customer service">
      <meta itemprop="email" content="info@cnt-orbita.ru">
    </div>
  </div>
</div>

<!-- Дополнительные мета-теги для социальных сетей -->
<link rel="me" href="mailto:info@cnt-orbita.ru" title="Email контакты">

<!-- Копирайт с микроразметкой -->
<div class="copyright" itemprop="copyrightHolder" itemscope itemtype="https://schema.org/Organization">
  <meta itemprop="name" content="СНТ Орбита">
  <meta itemprop="url" content="https://cnt-orbita.ru">
</div>
